<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Register New device</h5>
        </div>
        <div class="card-body all-icons">
          <div class="row">
            <div class = "col-md-4">
              <div class="form-group">
                <label>Device Tag </label>
                <input type="text" class="form-control"  placeholder="Free" value="Device Tag">
              </div>
            </div>

            <div class = "col-md-4">
              <div class="form-group">
                <label>Device Type </label>
                <input type="text" class="form-control"  placeholder="Free" value="Device Type">
              </div>
            </div>

            <div class = "col-md-4">
              <div class="form-group">
                <label>Device Vendor </label>
                <input type="text" class="form-control"  placeholder="Free" value="Device Vendor">
              </div>
            </div>


          </div>
          </div>
        <div class="card-footer">
          <button type="button" class="btn btn-secondary">Add New Device To Your  GreenHouse</button>
        </div>
        </div>
      </div>
    </div>
  </div>
