<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          Weather
        </div>
        <div class="card-body ">
          <div class="row">
            <div class="col-md-4">
              <img src="../assets/icons/{{icon}}" class="img-fluid">
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <p class="text-info">
                temp
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <p class="text-info">
                  temp
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="form-group">
                <p class="text-info">
                  temp
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <p class="text-info">
                  temp
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          Location
        </div>
        <div class="card-body ">
          <div id="map" class="map"></div>
        </div>
        <div class="card-footer">
          powered by Google Maps
        </div>
      </div>
    </div>
  </div>
</div>
