<div class="panel-header panel-header-lg">
  <canvas baseChart id="bigDashboardChart"
          [datasets]="lineBigDashboardChartData"
          [labels]="lineBigDashboardChartLabels"
          [colors]="lineBigDashboardChartColors"
          [options]="lineBigDashboardChartOptions"
          [chartType]="lineBigDashboardChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Real Time Update </h5>
          <h4 class="card-title"> Temperature {{temp}} </h4>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Real Time Update</h5>
          <h4 class="card-title"> Humidity {{humi}}</h4>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Real Time Updates</h5>
          <h4 class="card-title"> Brightness {{bright}}</h4>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"> Green House {{date | date:'yyyy-MM-dd'}} </h5>
          <h4 class="card-title">Temperature</h4>
          <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item text-success" >refresh</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="lineChartExample"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [colors]="lineChartColors"
                        [options]="lineChartOptions"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"> Green House {{date | date:'yyyy-MM-dd'}} </h5>
          <h4 class="card-title">Humidity</h4>
          <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item text-success" >refresh</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            <canvas baseChart id="lineChartExampleWithNumbersAndGrid"
                        [datasets]="lineChartWithNumbersAndGridData"
                        [labels]="lineChartWithNumbersAndGridLabels"
                        [colors]="lineChartWithNumbersAndGridColors"
                        [options]="lineChartWithNumbersAndGridOptions"
                        [chartType]="lineChartWithNumbersAndGridType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"> Green House {{date | date:'yyyy-MM-dd'}} </h5>
          <h4 class="card-title">Brightness</h4>
        </div>
        <div ngbDropdown>
          <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu-right">
            <a class="dropdown-item text-success" >refresh</a>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="barChartSimpleGradientsNumbers"
                        [datasets]="lineChartGradientsNumbersData"
                        [labels]="lineChartGradientsNumbersLabels"
                        [colors]="lineChartGradientsNumbersColors"
                        [options]="lineChartGradientsNumbersOptions"
                        [chartType]="lineChartGradientsNumbersType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Last 24 Hours
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"> Green House {{date | date:'yyyy-MM'}} </h5>
          <h4 class="card-title">Temperature</h4>
          <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item text-success" >refresh</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="lineChartExample1"
                    [datasets]="lineChartData1"
                    [labels]="lineChartLabels1"
                    [colors]="lineChartColors1"
                    [options]="lineChartOptions1"
                    [chartType]="lineChartType1"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"> Green House {{date | date:'yyyy-MM'}} </h5>
          <h4 class="card-title">Humidity</h4>
          <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item text-success" >refresh</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            <canvas baseChart id="lineChartExampleWithNumbersAndGrid1"
                    [datasets]="lineChartWithNumbersAndGridData1"
                    [labels]="lineChartWithNumbersAndGridLabels1"
                    [colors]="lineChartWithNumbersAndGridColors1"
                    [options]="lineChartWithNumbersAndGridOptions1"
                    [chartType]="lineChartWithNumbersAndGridType1"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"> Green House {{date | date:'yyyy-MM'}} </h5>
          <h4 class="card-title">Brightness</h4>
        </div>
        <div ngbDropdown>
          <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu-right">
            <a class="dropdown-item text-success" >refresh</a>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="barChartSimpleGradientsNumbers1"
                    [datasets]="lineChartGradientsNumbersData1"
                    [labels]="lineChartGradientsNumbersLabels1"
                    [colors]="lineChartGradientsNumbersColors1"
                    [options]="lineChartGradientsNumbersOptions1"
                    [chartType]="lineChartGradientsNumbersType1"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Last 24 Hours
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h5 class="card-category">Backend development</h5>
          <h4 class="card-title">Tasks</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>



                <tr *ngFor="let taske of [1,2]" >
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-left">Sign contract for "What are conference organizers afraid of?"</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>




              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
          </div>
          <div class="row">
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" placeholder="Device Tag" value="Ex96backyard">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" placeholder="Sensor" value="thermometer">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" placeholder="Logic" value="threshold>30">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 px-1">
            <button type="button" class="btn btn-secondary">Send me a SMS</button>
          </div>
            <div class="col-md-4 col-sm-4 px-1">
              <button type="button" class="btn btn-secondary">Send me an Email</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
