<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Simple Table {{test}}</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Device tag
                </th>
                <th>
                  Device sensors
                </th>
                <th>
                  Device Type
                </th>
                <th>
                  States
                </th>
                <th class="text-right">
                  info
                </th>
              </thead>
              <tbody>
              <tr *ngFor="let item of elements">
                <td>
                  {{item[0]}}
                </td>
                <td>
                  {{item[1]}}
                </td>
                <td>
                  {{item[2]}}
                </td>
                <td>
                  {{item[3]}}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-link" (click)="getInfo('hello')"><b>View</b></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>
