<div class="panel-header panel-header-sm">

</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Billing Information</h4>
        </div>
        <div class="card-body">
          <h1 class="display-4">Billing ${{bill}}</h1>


          <div class="row">
            <div class="col-5">
              text
            </div>
            <div class="col-5" style="float: right;">
              <canvas id="pieChart"></canvas>
            </div>
          </div>



          <canvas id="horizontalBar"></canvas>

          <div class="alert alert-info alert-with-icon" data-notify="container">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span data-notify="icon" class="now-ui-icons ui-1_bell-53"></span>
            <span data-notify="message">This is a notification with close button and icon.</span>
          </div>


        </div>
      </div>
    </div>




  </div>
</div>